<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555516586586-2ehl5jpgr7be0842mcfi3dlkdj14ri46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555516586586-2ehl5jpgr7be0842mcfi3dlkdj14ri46</string>
	<key>API_KEY</key>
	<string>AIzaSyBgdxfroHACPKSYT-QYLOLcs1ZLDJzKvJs</string>
	<key>GCM_SENDER_ID</key>
	<string>555516586586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdahospital</string>
	<key>PROJECT_ID</key>
	<string>gdahospital-344a8</string>
	<key>STORAGE_BUCKET</key>
	<string>gdahospital-344a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555516586586:ios:0d0a1d648275a853514663</string>
</dict>
</plist>